<div id="content" class="container">
	<header id="header" class="col-lg-12">
		<h1>{{ title }}</h1>
	</header>
	<nav id="nav" class="col-lg-12">
		<ul>
			<li><a [routerLink]="['/home']" [routerLinkActive]="'active'">Home</a></li>
			<li><a [routerLink]="['/productos']" [routerLinkActive]="'active'">Productos</a></li>
			<li><a [routerLink]="['/nuevo-producto']" [routerLinkActive]="'active'">Registrar productos</a></li>
		</ul>
	</nav>
	<section>
		<!-- current components -->
		<router-outlet></router-outlet>
	</section>
	<footer class="footer">
		<p>&copy;Ricardo García. 2018 All rights reserved</p>
	</footer>
</div>
